<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GoogleServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CallService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <GoogleServices.Properties.Settings>
            <setting name="GoogleFolder" serializeAs="String">
                <value>https://drive.google.com/drive/folders/1TA1nZN55zkZ45bEV5dnh7IWBgcf2okdL</value>
            </setting>
            <setting name="GoogleFolderTest" serializeAs="String">
                <value>https://drive.google.com/drive/folders/1-HaE-hrX8hqL2Eah-yrtWnfT34S40Yh8</value>
            </setting>
        </GoogleServices.Properties.Settings>
        <CallService.Properties.Settings>
            <setting name="GoogleFolder" serializeAs="String">
                <value>https://drive.google.com/drive/folders/1-HaE-hrX8hqL2Eah-yrtWnfT34S40Yh8</value>
            </setting>
        </CallService.Properties.Settings>
    </userSettings>
</configuration>
